In [2]:
!pip3 install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (2.2.3)
Requirement already satisfied: numpy>=1.16.0 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (2.1.3)
Requirement already satisfied: matplotlib>=3.1.3 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (3.10.0)
Requirement already satisfied: tqdm>=4.43.0 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (4.67.1)
Requirement already satisfied: scipy>=1.3.2 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (1.15.3)
Requirement already satisfied: jinja2>=2.11.1 in /opt/anaconda3/lib/python3.13/site-packages (from sweetviz) (3.1.6)
Collecting importlib-resources>=1.2.0 (from sweetviz)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.13/site-packages (from jinja2>=2.11.1->sweetviz) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.17.0)
Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 1.5 MB/s eta 0:00:00m eta 0:00:010:01:03m
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Installing collected packages: importlib-resources, sweetviz
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sweetviz]
Successfully installed importlib-resources-6.5.2 sweetviz-2.3.1

#                                     INTRODUCTION TO PANDAS

Pandas is a popular open-source software library written for the Python programming language, primarily used for data manipulation and analysis. It provides powerful and flexible data structures, most notably the DataFrame, which allows for efficient handling of tabular data.

In [36]:
# Import the libaray of numpy and pandas in the juypter notebook 
import numpy as np
import pandas as pd
if not hasattr(np, 'VisibleDeprecationWarning'):
    np.VisibleDeprecationWarning = DeprecationWarning
import sweetviz as sv

## CREATING PANDAS SERIES

Through the List

In [37]:
# create the list and element in list
list=[1,2,3,4]
# now make the list into pandas series by the Series function
pd1=pd.Series(list)
print(pd1)

0    1
1    2
2    3
3    4
dtype: int64

Through the Array

In [38]:
# create the array using numpy 
arr=np.array([1,2,3,4,5])
# now make the array into pandas series by the Series function
pd2=pd.Series(arr)
print(pd1)

0    1
1    2
2    3
3    4
dtype: int64

Index in Series

In [39]:
# Series index in the Series
pd3=pd.Series(data=list,index=['Columuns1','Columuns2','Columuns3','Columuns4'])
print(pd3)

Columuns1    1
Columuns2    2
Columuns3    3
Columuns4    4
dtype: int64

Through the Dictionary

In [40]:
# creating the dictionary
step={'day1':6000,'day2':6600,'day3':6660,'day4':6666}
# now create the convert the dictionary to pandas Series using Series function 
pd4=pd.Series(step)
print(pd4)

day1    6000
day2    6600
day3    6660
day4    6666
dtype: int64

Pandas Series---->List

In [41]:
pd1.to_list()

[1, 2, 3, 4]

## Aggergate function on the Pandas Series

In [42]:
# this aggergate function which tells the min max sum and other aggergate value
pd1.agg([min,max,sum])

/var/folders/kj/_lj1sx516z96c6cwhh2yrby00000gn/T/ipykernel_11855/3689536320.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  pd1.agg([min,max,sum])
/var/folders/kj/_lj1sx516z96c6cwhh2yrby00000gn/T/ipykernel_11855/3689536320.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  pd1.agg([min,max,sum])
/var/folders/kj/_lj1sx516z96c6cwhh2yrby00000gn/T/ipykernel_11855/3689536320.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd1.agg([min,max,sum])

min     1
max     4
sum    10
dtype: int64

# PANDAS DATAFRAME

Two-dimensional, size-mutable, potentially heterogeneous tabular data. Data structure also contains labeled axes (rows and columns).

Through the list

In [43]:
# Converting the list(one dimesnal) into dataframe(2-D Table) using Dataframe
pd.DataFrame(list)

   0
0  1
1  2
2  3
3  4

Through the Dictionary

In [44]:
# creating the Dictionary
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
# convert the dictionary to dataframe
df=pd.DataFrame(data)
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Add the Columuns

In [45]:
df['Age after 5']=df['Age'] + 5

In [46]:
df

    Name  Age  Age after 5
0    Tom   20           25
1   nick   21           26
2  krish   19           24
3   jack   18           23

Delete the Columuns

In [47]:
del df['Age after 5']

In [48]:
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Mathmatical and Satistical Function

In [49]:
# it will tells the sum of the columun
df['Age'].sum()

np.int64(78)

In [50]:
# it will tells the sum of the  columun
df['Age'].mean()

np.float64(19.5)

In [51]:
# it will tell the min
df['Age'].min()

18

In [52]:

# it will tell max
df['Age'].max()

21

In [53]:
# it will tell varaince
df['Age'].var()

1.6666666666666667

In [54]:
# it will tell standrad deviation
df['Age'].std()

1.2909944487358056

In [55]:
# it will describe the mathematical and statisctal data of the dataset
df['Age'].describe()

count     4.000000
mean     19.500000
std       1.290994
min      18.000000
25%      18.750000
50%      19.500000
75%      20.250000
max      21.000000
Name: Age, dtype: float64

## Workin with dataset

In [56]:
# import the dataset in the python notebook
df=pd.read_csv("Football.csv")

In [57]:
df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

In [58]:
df.describe()

,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,22.371212,3.224242,2071.416667,11.810606,10.089606,0.476167,64.177273,28.365152,2.948015,1.315652,2018.363636
std,9.754658,3.839498,900.595049,6.075315,5.724844,0.192831,34.941622,16.363149,0.914906,0.474239,1.367700
min,2.000000,0.000000,264.000000,2.000000,0.710000,0.070000,5.000000,2.000000,0.800000,0.240000,2016.000000
25%,14.000000,0.000000,1363.500000,8.000000,6.100000,0.340000,37.750000,17.000000,2.335000,0.980000,2017.000000
50%,24.000000,2.000000,2245.500000,11.000000,9.285000,0.435000,62.000000,26.000000,2.845000,1.250000,2019.000000
75%,31.000000,5.000000,2822.000000,14.000000,13.252500,0.570000,86.000000,37.000000,3.382500,1.540000,2019.000000
max,38.000000,26.000000,4177.000000,42.000000,32.540000,1.350000,208.000000,102.000000,7.200000,3.630000,2020.000000

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     626 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB

In [60]:
df.isnull()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
656,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
657,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
658,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
659,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Counts of Values in Categorical value

In [61]:
df['Country'].value_counts()

Country
Spain           100
Italy           100
Germany         100
Brazil          100
England          80
France           60
USA              40
Portugal         40
 Netherlands     40
Name: count, dtype: int64

In [62]:
df['Club'].value_counts()

Club
(PSG)    14
(BAR)    13
(NAP)    13
(FLA)    11
(ATA)    11
         ..
(LOK)     1
(GAL)     1
(SIV)     1
(CAE)     1
(UTR)     1
Name: count, Length: 179, dtype: int64

In [63]:
df['League'].value_counts()

League
La Liga                           100
Serie A                           100
Bundesliga                        100
Campeonato Brasileiro SÃ©rie A    100
Premier League                     80
Primeira Liga                      40
MLS                                40
Eredivisie                         40
France Ligue 12                     3
France Ligue 9                      3
France Ligue 11                     3
France Ligue 20                     3
France Ligue 17                     3
France Ligue 18                     3
France Ligue 19                     3
France Ligue 5                      3
France Ligue 8                      3
France Ligue 13                     3
France Ligue 7                      3
France Ligue 10                     3
France Ligue 1                      3
France Ligue 4                      3
France Ligue 2                      3
France Ligue 16                     3
France Ligue 3                      3
France Ligue 6                      3
France Ligue 15                     3
France Ligue 14                     3
Name: count, dtype: int64

In [64]:
df['Player Names'].value_counts()

Player Names
Andrea Belotti     5
Lionel Messi       5
Luis Suarez        5
Andrej Kramaric    5
Ciro Immobile      5
                  ..
Francois Kamano    1
Lebo Mothiba       1
Gaetan Laborde     1
Falcao             1
Cody Gakpo         1
Name: count, Length: 444, dtype: int64

## DROP/FILL NA VALUES

In [65]:
df.isnull().sum().mean()

np.float64(2.2666666666666666)

if the null values is less than 5% tha drop the null values row or column
if the null values is more than 5% but less than 30% then fill the null values with mean/median/mode
if the null values is more than 30% then drop the entire column

So in the above the mean is less than 5% so we can drop the null values row

In [66]:
df.dropna(inplace=True)

In [67]:
df.isnull().sum()

Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

# A detailed Pandas Profile report

In [68]:
report = sv.analyze(df)
report.show_html("report.html")

                                             |                                                                …

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.