# Remove the Dupilcate Data

In [1]:
# import libaras essential from reomved
import numpy as np
import pandas as pd

In [ ]:
# read the dataset and convert it into dataframe
df=pd.read_csv('googleplaystore.csv')

In [8]:
df.shape

(10841, 13)

In [5]:
# it will give total number of duplicate rows in the dataframe
df.duplicated().sum()

np.int64(483)

In [13]:
#Remove duplicate rows from the dataframe
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.shape

(10358, 13)

before removeing  duplicate rows and after removing duplicate rows.shape is (10841, 13)
after removeing duplicate rows.shape is (10358, 13)
duplicate rows removed are 483